* {
    padding: 0;
    margin: 0;
    border: border-box;
}

/**fonts**/

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* navbar */


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 150px 120px 150px;
}

.nav-logo {
    height: 80px;
    width: 135px;
}
ul {
    display: flex;
    align-items: center;
}
ul li {
    list-style: none;
    margin-right: 50px;
}
ul li a {
    text-decoration: none;
    color: #252432;
}

/***banner***/


.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 120px;
}

.banner-title {
    font-size: 4.65rem;
}
.part-1 {
    color: black;
    font-weight: bold;
}
.part-2 {
    color: #E95A08;
    font-weight: bold;
}
.part-3 {
    color: #E95A08;
    font-weight: bold;
}

.banner-description {
    max-width: 570px;
    font-size: 1.37rem;
    margin-top: 13px;
    color: #252432;
}


/**plant**/

.plant {
    margin-left: 150px;
    margin-right: 150px;
}
.plant-title {
    font-size: 3.12rem;
    font-weight: 700;
    text-align: center;
}
.part-4 {
    color: black;
}
.part-5 {
    color: #E95A08;
}

.plant-description {
    font-size: 1.37rem;
    color: #252432;
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
}

/**cart-style**/
.cart-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
}

.cart {
    width: 270px;
}

.name {
    font-size: 1.37rem;
    font-weight: 500;
    color: #111111;
    text-align: center;
    margin-top: 30px;
}

.price {
    font-size: 1.37rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.buy {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    padding: 20px 80px;
    margin-bottom: 2px;
    margin-top: 50px;
    background-color: #E95A08;
    cursor: pointer;
}

.buy:hover {
    background-color: #eb7a39;
    transition-duration: 0.3s;
}

/***lover-style***/


.plant-lover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 100px;
    gap: 60px;
}

.sec-img {
    border-radius: 5px;
}

.ul-2 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 20px;
}
.li-2{
    color: #252432;
}

.fri-img {
    position: absolute;
    height: 286px;
    width: 286px;
    margin-left: -220px;
    margin-top: -400px;
}

.lover-title {
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 20px;
}





@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: row;
        margin: 10px 20px;
    }
    ul {
        flex-direction: row;
        margin-top: 30px;
        align-items: center;
    }
    #hidden {
        display: none;
    }

    /**banner**/
    .banner {
        flex-direction: column-reverse;
    }
    .hero-img {
        margin: 28 auto;
    }

    .banner-content {
        margin-left: 2px;
        text-align: start;
    }

    /**plant**/

    .plant-title {
        text-align: center;
        margin: 0 -80px;
    }
    .plant-description {
        margin: 0 -80px;
        margin-top: 16px;
    }

    /**cart-style**/

    .cart-container {
        grid-template-columns: repeat(2, 1fr);
    }
}